<h1 class="fw-normal">YouTube Videos</h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col animate__animated animate__fadeIn" *ngFor="let video of videos">
      <div class="card h-100 cartas">
        <img [src]="video.thumbnails.high.url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{ video.title }} </h5>
            <p class="card-text">
              <strong>Autor: </strong> {{ video.channelTitle }}
            </p>
            <p class="card-text">
                <strong>Publicado: </strong> {{ video.publishedAt | date }}
              </p>             
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-danger btn-block" (click)="mostrarVideo(video)">Ver Video</button>
          </div>
      </div>
    </div>
</div>

<div class="row mt-5 mb-5 text-center">
    <div class="col">
        <button class="btn btn-danger btn-lg" (click)="cargarVideos()">
            Siguiente Página
        </button>
    </div>
</div>